<div class="panel panel-default">
	<div class="panel-heading">Top Segments</div>
	<table class="table">
		
		<thead>
			<tr>
				<th>Quote</th>
				<th>Song</th>
				<th>Top Tag</th>
			</tr>
		</thead>
		
		<tbody>
			<% segments.each(function(segment) { %>
				<tr>
					<td><%= segment.escape('quote') %></td>
					<td><a href="#/songs/<%= segment.get('song_id') %>"><%= segment.escape('song_title') %></td>
					<td><a href="#/tags/<%= segment.tags().models[0].id  %>">                                                                       <%= segment.tags().models[0].get('name') %></td>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>