<h1 class="title">Top Segments</h1>

<div class="panel panel-default">
	<table class="table">
		
		<thead>
			<tr>
				<th>Quote</th>
				<th>Song</th>
				<th>Top Tag</th>
			</tr>
		</thead>
		
		<tbody>
			<% segments.each(function(segment) { %>
				<tr>
					<td class="index-segment"><a href="#/songs/<%= segment.get('song_id') %>"><%= segment.escape('quote') %>
					       <span class="badge"><%= segment.taggings().models.length %></span></td>
					<td><a href="#/songs/<%= segment.get('song_id') %>"><%= segment.escape('song_title') %></td>
					<td class="index-tag"><a href="#/tags/<%= segment.tags().models[0].id  %>">                                                                       <%= segment.tags().models[0].get('name') %></td>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>