<h1 class="title">Top Songs</h1>

<div class="panel panel-default">
	<table class="table">
		
		<thead>
			<tr>
				<th>Title</th>
				<th>Top Tag</th>
			</tr>
		</thead>
		
		<tbody>
			<% songs.each(function(song) { %>
				<tr>
					<td><a href="#/songs/<%= song.id %>"> <%= song.get('title') %>
					                <span class="badge"><%= song.taggings().models.length %></span></td>
					<% if (song.tags().models.length > 0) { %>
						<td class="index-tag"><a href="#/tags/<%= song.tags().models[0].id %>">                                                                         <%= song.tags().models[0].get('name') %></td>
					<% } else { %>
						<td>No Tags Yet!<td>
					<% } %>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>