<ul class="song-emoji-container">
	<% tags.each( function (tag) { %>
		<li class="song-emoji" data-id="<%= tag.id %>">:<%= tag.get('emoji_name') %>:</li>
	<% }) %>
</ul>

<ul class="song-emoji-counts">
	<% tags.each( function (tag) { %>
		<% if (segmentId !== null) { %>
			<li class="song-emoji-count" data-id="<%= tag.id %>">                                                                       <%= new Scatterbrain.Collections.Taggings(song.taggingsBySegmentId(segmentId)).where({tag_id: tag.id}).length %> </li>
		<% } else { %>
			<li class="song-emoji-count" data-id="<%= tag.id %>"><%= song.taggingsByTagId(tag.id).length %></li>
		<% } %>
	<% }) %>
</ul>

<script>
	emojify.run();
</script>