<!DOCTYPE html>
<html>
<head>
  <title>Scatterbrain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/Scatterbrain-logo.png">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
</body>
</html>
