<h1 class="title">All Tags</h1>

<div class="panel panel-default">
	<table class="table">
		
		<thead>
			<tr>
				<th>Name</th>
				<th>Top Segment</th>
				<th>Top Song</th>
			</tr>
		</thead>
		
		<tbody>
			<% tags.each(function(tag) { %>
				<tr>
					<td class="index-tag"><a href="#/tags/<%= tag.id %>"><%= tag.get('name') %></td> 
						
					<% if (tag.segments().models.length > 0) { %>
						<td class="index-segment"><a href="#/songs/<%= tag.segments().models[0].get('song_id') %>">                                                         <%= tag.segments().models[0].get('quote') %></td>
					<% } else { %>
						<td>No Segments Yet!</td>
					<% } %>
					
					<% if (tag.songs().models.length > 0) { %>
						<td><a href="#/songs/<%= tag.songs().models[0].id %>">
						            <%= tag.songs().models[0].get('title') %></td>
					<% } else { %>
						<td>No Songs Yet!</td>
					<% } %>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>